/* bind the toolbar as the window's draggable region */
.page_header {
	-webkit-app-region: drag;
}

.page_header_mobile .mobile_menu_button {
  top: 5px;
}

.footer_master {
  display: inline !important;
}

@media (max-width: 767px) {
  .footer_master {
    display: none !important;
  }
}
